services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: candidate
      POSTGRES_PASSWORD: assignment
      POSTGRES_DB: ad_platform
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
